app-child {
  position: fixed;
  left: 0rem;
  width: 150px;
  height: 100%;
  color: white;
  border-top: 1px solid white;
}
.main-content {
  position: absolute;
  left: 160px;
  width: 50%;
}
.sidebtn {
  margin-left: 10px;
}
.main-content-btn {
  position: relative;
  left: 160px;
  width: 50%;
  margin-top: 500px;
  display: flex;
}
.select {
  margin-left: 10px;
  width: 20vw;
}
.header {
  height: 3rem;
}
