<app-header [color]="color1"></app-header>

<app-child [style]="color"></app-child>

<app-content></app-content>

<div class="main-content-btn">
  <button class="sidebtn" type="button" [(colorPicker)]="color1">Header</button>

  <button class="sidebtn" type="button" [(colorPicker)]="color">Sidebar</button>

  <div class="col">
    <br />
    <div ngbDropdown>
      <button class="btn btn-warning" id="fonts" ngbDropdownToggle>
        Font Change
      </button>
      <div ngbDropdownMenu="fonts">
        <button ngbDropdownItem (click)="font('Helvetica')">Helvetica</button>
        <button ngbDropdownItem (click)="font('Verdana')">Verdana</button>
        <button ngbDropdownItem (click)="font('Courier New, monospace')">
          Monospace
        </button>
      </div>
    </div>
  </div>
</div>
