/* You can add global styles to this file, and also import other style files */
.header {
  background-color: var(--ravi);
}
.header1 {
  background-color: var(--wb);
}
.font {
  font-family: var(--font)
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
